.App {
  text-align: center;
}

html,body{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;

}

body {
  margin: 0;
  padding: 0;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  padding: 0px;
  margin: 0px;
  font-size: 70px;
  font-weight: 600;
}

h2 {
  padding-top: 20px;
  margin: 0px;
  font-size: 60px;
}

h3 {
  padding: 0px;

  font-size: 30px;
  font-weight: 400;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
  }

.body-header {
  color: white;
}

.nav {
  text-align: center;
  color: white;
}

.category-land {
  margin: 0px;
  padding: 0px;
  width:100vw;
  text-align: center;
  display: inline-block;
  background: #649173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.category-air {
  margin: 0px;
  padding: 0px;
  width:100vw;
  text-align: center;
  /* display: inline-block; */
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.category-water {
  margin: 0px;
  padding: 0px;
  width:100vw;
  text-align: center;
  /* display: inline-block; */
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

 /* .dino-div {
  width: 100%;

} */

.dino-image {
  margin: 0px;
  padding: 0px;
  height: 300px;
}

.image {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.dino-image2 {
  margin: 0px;
  padding: 0px;
  height: 400px;
}

.dino-content {
  margin: 0px;
  padding: 0px;
  width:100vw;
  display: inline-block;
}

.dino-text {
  width: 50%;
  display: inline-block;
}
