.App {
  text-align: center;
}

html,body{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;

}

body {
  margin: 0;
  padding: 0;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  padding: 0px;
  margin: 0px;
  font-size: 70px;
  font-weight: 600;
}

h2 {
  padding-top: 20px;
  margin: 0px;
  font-size: 60px;
}

h3 {
  padding: 0px;

  font-size: 30px;
  font-weight: 400;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
  }

.body-header {
  color: white;
}

.nav {
  text-align: center;
  color: white;
}

.h1-white {
  color: white;
}

.category-land {
  margin: 0px;
  padding: 0px;
  width:100vw;
  text-align: center;
  display: inline-block;
  background: #649173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.category-air {
  margin: 0px;
  padding: 0px;
  width:100vw;
  text-align: center;
  /* display: inline-block; */
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.category-water {
  margin: 0px;
  padding: 0px;
  width:100vw;
  text-align: center;
  /* display: inline-block; */
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

 .dino-div-details {
  color: white;

}

.dinocard {
  color: white;
}

.dino-image {
  margin: 0px;
  padding: 0px;
  height: 300px;
}

.image {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.dino-image2 {
  margin: 0px;
  padding: 0px;
  height: 300px;
}

.dino-content {
  margin: 0px;
  padding: 0px;
  width:100vw;
  display: inline-block;
}

.dino-text {
  width: 50%;
  display: inline-block;
}

.cart-image {
  height: 400px;
}
.underline {
  border-bottom: 1px solid black;
}

/* .background-home {
  z-index: 0;
object-fit: cover;
} */
.signup {
  display: inline-block;
  text-align: left;
  color:white;
  padding-top: 5px;
  vertical-align: top;
}
.login {
  display: inline-block;
  text-align: left;
  color:white;
  padding-top: 5px;
  margin: 0 10px 0 10px;
  vertical-align: top;
}
.home-title{
  color:white;
}
.home-page {
  background-image: url('https://www.universetoday.com/wp-content/uploads/2010/10/pangea.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.card-back {
  width: 250px;
  height:90px;
  background-color: rgba(0,0,0,.4);
  border-radius: 10px;
  border: 1px solid black;
}
.box {
  width: 255px;
  margin: 10px;
}
