.App {
  text-align: center;
}

html,body{
  margin: 0;
  padding: 0;

}

.category-land {
  display: inline;
}

.category-air {
  display: inline;
}

.category-water {
  display: inline;
}

.dino-div {
  width: 30%;
  background-color: grey;
}
